In [1]:
import rodin
import seaborn as sns

In [2]:
obj = rodin.create_object_csv('Jeff_share_files/Negative_mode_feature_tables_and_annotations/featuretable_sup_c18neg_hip1_vs_H37Rv_correctedPB_Nov72024.txt',
                              'Jeff_share_files/Negative_mode_feature_tables_and_annotations/c18neg_sup_hip1_vs_H37Rv.txt',
                             feat_sep='\t',class_sep='\t')

In [3]:
obj.samples

             File Name    Group
0  kl_220819_038.mzXML  H37Rv_2
1  kl_220819_050.mzXML  H37Rv_2
2  kl_220819_062.mzXML     Hip1
3  kl_220819_074.mzXML  H37Rv_2
4  kl_220819_080.mzXML  H37Rv_2
5  kl_220819_086.mzXML     Hip1
6  kl_220819_098.mzXML  H37Rv_2
7  kl_220819_140.mzXML     Hip1
8  kl_220819_188.mzXML     Hip1
9  kl_220819_206.mzXML     Hip1

In [4]:
obj.X

,kl_220819_038.mzXML,kl_220819_050.mzXML,kl_220819_062.mzXML,kl_220819_074.mzXML,kl_220819_080.mzXML,kl_220819_086.mzXML,kl_220819_098.mzXML,kl_220819_140.mzXML,kl_220819_188.mzXML,kl_220819_206.mzXML
0,0.0,0.0,0.0,0.0,0.0,0.0,4457086.0,7079252.5,5873108.0,2465184.0
1,13040744.0,15343205.0,16467347.0,15374589.0,14668515.0,14708684.0,16296356.0,11434107.0,12824896.0,18555511.0
2,2849188.0,2266048.0,2045624.0,2371011.0,1890402.0,2369379.0,3996542.0,2402770.0,2071008.0,2089371.0
3,1622146.0,1653583.5,2225066.0,565713.5,4439718.5,0.0,0.0,518938.0,466157.0,2387506.0
4,882697.0,909022.0,1327210.0,897340.0,984378.0,1986792.0,1236488.0,1675097.0,1208493.0,1100299.0
...,...,...,...,...,...,...,...,...,...,...
10221,365919.0,316738.0,70615.0,101132.0,231160.0,183197.0,143246.0,44653.0,110925.0,167320.0
10222,106958.0,73047.0,28875.0,18093.0,54328.0,52247.0,20797.0,35113.0,24240.0,50852.0
10223,979966.0,875600.0,254182.0,261684.0,583023.0,467054.0,306077.0,224733.0,287175.0,419395.0
10224,888860.0,2839000.0,183444.0,185743.0,1478021.0,1584694.0,448786.0,59157.0,1172039.0,1355829.0
10225,1674961.0,1527708.0,0.0,753466.5,590120.0,682527.0,289094.0,0.0,79137.0,579761.0

In [5]:
#replace zero's with 1/2 minimum
features_imp = obj.X
minval = features_imp.mask(features_imp == 0).min()
features_imp = features_imp.mask(features_imp==0).fillna(features_imp.mask(features_imp == 0).min())
features_imp
obj.X = features_imp
obj.X

,kl_220819_038.mzXML,kl_220819_050.mzXML,kl_220819_062.mzXML,kl_220819_074.mzXML,kl_220819_080.mzXML,kl_220819_086.mzXML,kl_220819_098.mzXML,kl_220819_140.mzXML,kl_220819_188.mzXML,kl_220819_206.mzXML
0,1072.5,968.0,1502.0,1982.5,1040.0,1345.0,4457086.0,7079252.5,5873108.0,2465184.0
1,13040744.0,15343205.0,16467347.0,15374589.0,14668515.0,14708684.0,16296356.0,11434107.0,12824896.0,18555511.0
2,2849188.0,2266048.0,2045624.0,2371011.0,1890402.0,2369379.0,3996542.0,2402770.0,2071008.0,2089371.0
3,1622146.0,1653583.5,2225066.0,565713.5,4439718.5,1345.0,1076.0,518938.0,466157.0,2387506.0
4,882697.0,909022.0,1327210.0,897340.0,984378.0,1986792.0,1236488.0,1675097.0,1208493.0,1100299.0
...,...,...,...,...,...,...,...,...,...,...
10221,365919.0,316738.0,70615.0,101132.0,231160.0,183197.0,143246.0,44653.0,110925.0,167320.0
10222,106958.0,73047.0,28875.0,18093.0,54328.0,52247.0,20797.0,35113.0,24240.0,50852.0
10223,979966.0,875600.0,254182.0,261684.0,583023.0,467054.0,306077.0,224733.0,287175.0,419395.0
10224,888860.0,2839000.0,183444.0,185743.0,1478021.0,1584694.0,448786.0,59157.0,1172039.0,1355829.0
10225,1674961.0,1527708.0,1502.0,753466.5,590120.0,682527.0,289094.0,2189.0,79137.0,579761.0

In [6]:
obj.transform(thresh=1, norm=None, scale=False,log=True)

Number of features filtered: 617

< Rodin object >
dim: 9609 X 10

In [7]:
obj.ttest('Group')

                mz        time  p_value(tt) Group  p_adj(tt) Group
0        85.004347  151.114559           0.228766         0.753448
1        85.029488   21.493728           0.824077         0.941567
2        85.029500  289.475308           0.267094         0.753448
3        85.029527  123.574972           0.891491         0.966338
4        85.271430   38.826380           0.021159         0.753448
...            ...         ...                ...              ...
10221  1260.013838  165.667151           0.080947         0.753448
10222  1261.004538  166.257302           0.656873         0.877472
10223  1262.020792  165.620469           0.146797         0.753448
10224  1263.025957  165.872413           0.565696         0.836164
10225  1264.026307  166.433716           0.085079         0.753448

[9609 rows x 4 columns]

In [8]:
obj.fold_change('Group',reference='H37Rv_2')

,mz,time,p_value(tt) Group,p_adj(tt) Group,lfc (Hip1 vs H37Rv_2)
0,85.004347,151.114559,0.228766,0.753448,4.873700
1,85.029488,21.493728,0.824077,0.941567,-0.031606
2,85.029500,289.475308,0.267094,0.753448,-0.239705
3,85.029527,123.574972,0.891491,0.966338,-0.413715
4,85.271430,38.826380,0.021159,0.753448,0.548910
...,...,...,...,...,...
10221,1260.013838,165.667151,0.080947,0.753448,-1.035586
10222,1261.004538,166.257302,0.656873,0.877472,-0.258087
10223,1262.020792,165.620469,0.146797,0.753448,-0.728073
10224,1263.025957,165.872413,0.565696,0.836164,-0.701606
10225,1264.026307,166.433716,0.085079,0.753448,-4.321120

In [26]:
import copy
obj_up = copy.deepcopy(obj)
obj_down = copy.deepcopy(obj)

In [10]:
obj.analyze_pathways('p_value(tt) Group','lfc (Hip1 vs H37Rv_2)',mode='negative', cutoff=0.05)

Started @ Tue Nov 19 23:59:56 2024

Read 9609 features as reference list.
Using 502 features (p < 0.050000) as significant list.

Pathway Analysis...
Query number of significant compounds = 90 compounds
Resampling, 100 permutations to estimate background ...

Got 1688 cpd2mzFeatures
Got 5842 ListOfEmpiricalCompounds
Got 3398 merged ListOfEmpiricalCompounds
Got 986 final ListOfEmpiricalCompounds
 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

Pathway background is estimated on 11900 random pathway values

,pathway,overlap_size,pathway_size,p-value,overlap_EmpiricalCompounds (id)
0,Beta-Alanine metabolism,6,18,0.0035291152004033274,"E50,E252,E633,E430,E731,E729"
1,"Glycine, serine, alanine and threonine metabolism",10,47,0.005881858667338879,"E469,E228,E376,E273,E50,E252,E24,E633,E192,E1486"
2,Purine metabolism,14,90,0.019494160154608857,"E1357,E14,E669,E1198,E702,E3143,E914,E1209,E33..."
3,Phosphatidylinositol phosphate metabolism,5,20,0.020670531888076632,"E2275,E72,E1290,E1592,E628"
4,Vitamin B9 (folate) metabolism,3,8,0.020754558440467186,"E1090,E2189,E633"
...,...,...,...,...,...
114,Drug metabolism - other enzymes,0,8,0.6082682127552307,
115,Prostaglandin formation from dihomo gama-linol...,0,6,0.6082682127552307,
116,Trihydroxycoprostanoyl-CoA beta-oxidation,0,0,0.6082682127552307,
117,Omega-6 fatty acid metabolism,0,7,0.6082682127552307,
118,Phytanic acid peroxisomal oxidation,0,12,0.6082682127552307,

In [11]:
obj.uns['pathways'].iloc[0:6]

,pathway,overlap_size,pathway_size,p-value,overlap_EmpiricalCompounds (id)
0,Beta-Alanine metabolism,6,18,0.0035291152004033274,"E50,E252,E633,E430,E731,E729"
1,"Glycine, serine, alanine and threonine metabolism",10,47,0.005881858667338879,"E469,E228,E376,E273,E50,E252,E24,E633,E192,E1486"
2,Purine metabolism,14,90,0.019494160154608857,"E1357,E14,E669,E1198,E702,E3143,E914,E1209,E33..."
3,Phosphatidylinositol phosphate metabolism,5,20,0.020670531888076632,"E2275,E72,E1290,E1592,E628"
4,Vitamin B9 (folate) metabolism,3,8,0.020754558440467186,"E1090,E2189,E633"
5,Fructose and mannose metabolism,4,14,0.02277119569784052,"E853,E72,E1167,E1290"

In [12]:
obj.uns['compounds'].to_csv('hip1_VS_WT_SUPS_NEGMODE.csv')
obj.uns['pathways'].to_csv('hip1_VS_WT_sups_negmode_pathways.csv')

In [13]:
obj.X.shape[0]

9609

In [14]:
df_feats_filtered = obj.features
df_feats_filtered_up = df_feats_filtered.loc[df_feats_filtered['lfc (Hip1 vs H37Rv_2)'] > 0]
df_feats_filtered_down = df_feats_filtered.loc[df_feats_filtered['lfc (Hip1 vs H37Rv_2)'] < 0]

In [25]:
df_feats_filtered_down

,mz,time,p_value(tt) Group,p_adj(tt) Group,lfc (Hip1 vs H37Rv_2)
1,85.029488,21.493728,0.824077,0.941567,-0.031606
2,85.029500,289.475308,0.267094,0.753448,-0.239705
3,85.029527,123.574972,0.891491,0.966338,-0.413715
9,86.385749,194.449091,0.692947,0.892804,-1.345945
13,87.019983,291.864786,0.760153,0.917025,-0.143967
...,...,...,...,...,...
10221,1260.013838,165.667151,0.080947,0.753448,-1.035586
10222,1261.004538,166.257302,0.656873,0.877472,-0.258087
10223,1262.020792,165.620469,0.146797,0.753448,-0.728073
10224,1263.025957,165.872413,0.565696,0.836164,-0.701606
10225,1264.026307,166.433716,0.085079,0.753448,-4.321120

In [33]:
df_X_up = obj_up.X.loc[df_feats_filtered_up.index]
obj_up.X = df_X_up

ValueError: Number of columns in X (4694) does not match number of rows (9609) in features

In [34]:
obj_up.features = df_feats_filtered_up

In [35]:
obj_up.features

,mz,time,p_value(tt) Group,p_adj(tt) Group,lfc (Hip1 vs H37Rv_2)
0,85.004347,151.114559,0.228766,0.753448,4.873700
4,85.271430,38.826380,0.021159,0.753448,0.548910
5,85.497729,250.199298,0.652718,0.875050,1.454699
6,85.501893,215.823012,0.270923,0.753448,3.429095
7,85.597163,28.879221,0.185242,0.753448,0.189680
...,...,...,...,...,...
10208,1239.058466,168.199112,0.887781,0.966103,0.090816
10214,1247.481589,17.617205,0.305570,0.755502,2.170550
10215,1247.818395,17.805353,0.223194,0.753448,2.889455
10216,1248.149967,17.660611,0.356731,0.763313,2.046162
10217,1248.487034,17.457168,0.320237,0.755736,2.285021

In [36]:
df_X_down = obj_down.X.loc[df_feats_filtered_down.index]
obj_down.X = df_X_down

ValueError: Number of columns in X (4915) does not match number of rows (9609) in features

In [37]:
obj_down.features = df_feats_filtered_down

In [18]:
obj, obj_up, obj_down

(< Rodin object >
 dim: 9609 X 10
 uns: pathways, compounds,
 < Rodin object >
 dim: 4694 X 10,
 < Rodin object >
 dim: 4915 X 10)

In [38]:
obj_up.analyze_pathways('p_value(tt) Group','lfc (Hip1 vs H37Rv_2)',mode='negative', cutoff=0.05)

Started @ Wed Nov 20 01:03:50 2024

Read 4694 features as reference list.
Using 241 features (p < 0.050000) as significant list.

Pathway Analysis...
Query number of significant compounds = 46 compounds
Resampling, 100 permutations to estimate background ...

Got 1426 cpd2mzFeatures
Got 3253 ListOfEmpiricalCompounds
Got 1831 merged ListOfEmpiricalCompounds
Got 491 final ListOfEmpiricalCompounds
 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

Pathway background is estimated on 11900 random pathway values

,pathway,overlap_size,pathway_size,p-value,overlap_EmpiricalCompounds (id)
0,"Glycine, serine, alanine and threonine metabolism",9,29,0.0012603982858583312,"E216,E875,E94,E168,E11,E284,E20,E109,E116"
1,Galactose metabolism,5,15,0.005881858667338879,"E566,E844,E1337,E547,E643"
2,Fructose and mannose metabolism,4,11,0.008906814553398874,"E643,E566,E547,E424"
3,Beta-Alanine metabolism,4,11,0.008906814553398874,"E20,E363,E116,E284"
4,Hexose phosphorylation,3,7,0.013948407696832199,"E566,E544,E547"
...,...,...,...,...,...
114,Drug metabolism - other enzymes,0,6,0.4589530291572137,
115,Prostaglandin formation from dihomo gama-linol...,0,3,0.4589530291572137,
116,Trihydroxycoprostanoyl-CoA beta-oxidation,0,0,0.4589530291572137,
117,Omega-6 fatty acid metabolism,0,4,0.4589530291572137,
118,Phytanic acid peroxisomal oxidation,0,3,0.4589530291572137,

In [39]:
obj_up.X.to_csv('hip1_VS_WT_up_sups_negmode_X.csv')
obj_up.uns['compounds'].to_csv('hip1_VS_WT_up_SUPS_NEGMODE.csv')
obj_up.uns['pathways'].to_csv('hip1_VS_WT_up_sups_negmode_pathways.csv')

In [41]:
obj_down.analyze_pathways('p_value(tt) Group','lfc (Hip1 vs H37Rv_2)',mode='negative', cutoff=0.05)

Started @ Wed Nov 20 01:04:09 2024

Read 4915 features as reference list.
Using 261 features (p < 0.050000) as significant list.

Pathway Analysis...
Query number of significant compounds = 34 compounds
Resampling, 100 permutations to estimate background ...

Got 1423 cpd2mzFeatures
Got 3424 ListOfEmpiricalCompounds
Got 2019 merged ListOfEmpiricalCompounds
Got 544 final ListOfEmpiricalCompounds
 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

Pathway background is estimated on 11900 random pathway values

,pathway,overlap_size,pathway_size,p-value,overlap_EmpiricalCompounds (id)
0,Vitamin B9 (folate) metabolism,2,5,0.010587345601209983,"E576,E1247"
1,D4&E4-neuroprostanes formation,2,5,0.010587345601209983,"E593,E742"
2,Pyrimidine metabolism,4,32,0.04781110831022603,"E1222,E363,E167,E144"
3,Bile acid biosynthesis,2,12,0.06991009158894211,"E885,E1596"
4,Tyrosine metabolism,6,61,0.06991009158894211,"E480,E33,E1639,E593,E863,E477"
...,...,...,...,...,...
114,Omega-6 fatty acid metabolism,0,3,0.3737501050331905,
115,Phytanic acid peroxisomal oxidation,0,9,0.3737501050331905,
116,Methionine and cysteine metabolism,0,10,0.3737501050331905,
117,Lysine metabolism,0,14,0.3737501050331905,
118,Selenoamino acid metabolism,0,3,0.3737501050331905,

In [42]:
obj_down.X.to_csv('hip1_VS_WT_down_sups_negmode_X.csv')
obj_down.uns['compounds'].to_csv('hip1_VS_WT_down_SUPS_NEGMODE.csv')
obj_down.uns['pathways'].to_csv('hip1_VS_WT_down_sups_negmode_pathways.csv')

In [43]:
obj.samples.to_csv('hip1_VS_WT_SUPS_NEGMODE_meta.csv')